.about{
    font-size: 70px;
    padding-bottom: 150px;
}
.navbar{
    height: 90px;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Protest Riot", sans-serif;
    /* padding-top: 10px; */
}
.names{
    height: 100px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.about{
    padding-top: 100px;
    padding-left: 50px;
    font-size: 150px;
}

.btech{
    height: 300px;
    background-color: rgb(132, 231, 231);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.btech:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    opacity: 0.8;
}
.btech h1{
    font-size: 50px;
}
.year{
    height: 300px;
    padding-top: 70px;
}
.des {
    height: 300px;
    padding-top: 75px;
}
.des h3{
    font-size: 30px;
}
.intrests{
    height: 600px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(27, 151, 155);
}
.intrests h1{
    padding-top: 20px;
}
.currently{
    height: 300px;
    text-align: center;
    background-color:deepskyblue;
    font-size: 20px;
}
.connect{
    height: 200px;
    background-color:dodgerblue;
    font-size: 30px;
    text-align: center;
}
body{
    padding-left: 10px;
    padding-right: 10px;
}

